<?xml version="1.0" encoding="UTF-8"?>
<widget id="grunt.cordova.build" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Hello My App</name>
	<description>cordova-app description</description>
	<author email="author@example.com" url="homepage@example.com"/>
	<access origin="*"/>
	<content src="index.html"/>
</widget>