<?xml version="1.0" encoding="UTF-8"?>
<widget id="grunt.cordova.build.example-app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Example App</name>
	<platform name="android"/>
	<platform name="ios"/>
	<gap:plugin version="0.2.10" name="org.apache.cordova.console"/>
	<gap:plugin version="3.9.0-beta.4" name="cc.fovea.cordova.purchase"/>
	<gap:plugin version="0.10.1" name="https://github.com/Wizcorp/phonegap-facebook-plugin.git">
		<param name="APP_ID" value="YYYYYYYYYYYYYYY"/>
		<param name="APP_NAME" value="Fictional Facebook-App"/>
	</gap:plugin>
</widget>